/**
 * <%= pluginName %> plugin for Craft CMS
 *
 * <%= pluginName %><%= widgetName[index] %>Widget CSS
 *
 * @author    <%= pluginAuthorName %>
 * @copyright <%= copyrightNotice %>
 * @link      <%= pluginAuthorUrl %>
 * @package   <%= pluginHandle %>
 * @since     <%= pluginVersion %>
 */
