{#
/**
 * <%= pluginName %> plugin for Craft CMS 3.x
 *
 * <%= pluginName %> index.twig
 *
 * @author    <%= pluginAuthorName %>
 * @copyright <%= copyrightNotice %>
 * @link      <%= pluginAuthorUrl %>
 * @package   <%= pluginHandle %>
 * @since     <%= pluginVersion %>
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("<%= pluginVendorName %>\\<%= pluginDirName %>\\assetbundles\\<%= pluginDirName %>\\<%= pluginHandle %>Asset") %}

<% if ((typeof codeComments !== 'undefined') && (codeComments)) { -%>
{# Link for the ? icon at the bottom of the page #}
<% } -%>
{% set docsUrl = "<%= pluginDocsUrl %>" %}

<% if ((typeof codeComments !== 'undefined') && (codeComments)) { -%>
{# The title of this CP section #}
<% } -%>
{% set title = "<%= pluginName %>" %}

<% if ((typeof codeComments !== 'undefined') && (codeComments)) { -%>
{# The URL to this plugin's base CP section #}
<% } -%>
{{ set pluginCpUrl = url('<%= pluginHandle.replace(/([A-Z])/g, function($1){return "-"+$1.toLowerCase();}).slice(1) %>') }}

{% set subnav = {
    redirects:      { label: "Redirects"|t, url: url('retour/redirects') },
    statistics:     { label: "Statistics"|t, url: url('retour/statistics') },
    settings:       { label: "Settings"|t, url: url('retour/settings') },
} %}
{% set selectedSubnavItem = 'redirects' %}

{% set crumbs = [
    { label: "SomeThing", url: url('retour') },
    { label: "Redirects"|t, url: url('retour/redirects') },
] %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t }}</a>
    </div>
{% endset %}

{% set content %}

        <h2>{{ "Dynamic Entry Redirects" |t }}</h2>

        <p class="textline"></p>

{% endset %}