{#
/**
 * <%= pluginName %> plugin for Craft CMS
 *
 * <%= pluginName %> field.html
 *
 * @author    <%= pluginAuthorName %>
 * @copyright <%= copyrightNotice %>
 * @link      <%= pluginAuthorUrl %>
 * @package   <%= pluginHandle %>
 * @since     <%= pluginVersion %>
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
	id: id ~ 'someField',
	class: 'nicetext',
	name: name ~ '[someField]',
	value: values.someField,
	errors: values.getErrors('someField'),
	required: false,
}) }}
